/* Copyright 2021 Sébastien LOZANO; MIT licensed */
body,
textarea,
input,
select {
  background: 0;
  border-radius: 0;
  font: 16px sans-serif;
  margin: 0;
}
.addon,
.btn-sm,
.nav,
textarea,
input,
select {
  outline: 0;
  font-size: 14px;
}
.smooth {
  transition: all 0.2s;
}
.btn,
.nav a {
  text-decoration: none;
}
.container {
  margin: 0 20px;
  width: auto;
}
.btnDoc {
  cursor: pointer;
}
.docImg {
  max-width: 100%;
  border: 2px solid black;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
@media (min-width: 1310px) {
  .container {
    margin: auto;
    width: 1270px;
  }
}
footer {
  margin: 0 20px;
  width: auto;
  text-align: center;
  font: 12px sans-serif;
  color: #fff;
  border-top: 3px solid;
  border-color: #000;
  padding: 1px;
  border-radius: 10px;
  margin-top: 1em;
  background-color: #777777;
}
@media (min-width: 1310px) {
  footer {
    margin: auto;
    width: 1270px;
  }
}
h2 {
  font-size: 2em;
}
.marges {
  padding: 5px;
}
.imgTabParties {
  width: 2em;
  height: auto;
}
.imgAvatarNav {
  width: 2em;
  height: auto;
  vertical-align: bottom;
}
.hero {
  background: #eeeeee /*#eee*/;
  padding: 20px;
  border-radius: 10px;
  margin-top: 1em;
}
.hero h1 {
  margin-top: 0;
  margin-bottom: 0.3em;
}
.c4.card {
  padding: 10px;
  box-sizing: border-box;
  width: 32%;
  background: #eeeeee /*#eee*/;
  border-radius: 10px;
  margin-top: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
.c4.card h3 {
  margin-top: 0;
  border-bottom: 0.2em solid;
}
.c4.card a {
  margin-top: 10px;
  display: inline-block;
}
/* fancy page heading styles */
.headings *:not(first-of-type) {
  display: inline;
}
h1.doch1:not(.exampleh1) {
  margin: 0.2em 0;
  border-bottom: 5px solid;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.doccol {
  text-align: center;
  margin: 0 1%;
  float: left;
}
.docrow {
  line-height: 2em;
  margin: 1% 0;
  overflow: auto;
}
/* formatting for grid system */
.dark {
  background-color: #777777 /*rgb(172, 172, 172)*/;
}
.light {
  background-color: #999 /*rgb(223, 223, 223)*/;
}
.docc12 {
  width: 98%;
}
.docc11 {
  width: 89.66%;
}
.docc10 {
  width: 81.33%;
}
.docc9 {
  width: 73%;
}
.docc8 {
  width: 64.66%;
}
.docc7 {
  width: 56.33%;
}
.docc6 {
  width: 48%;
}
.docc5 {
  width: 39.66%;
}
.docc4 {
  width: 31.33%;
}
.docc3 {
  width: 23%;
}
.docc2 {
  width: 14.66%;
}
.docc1 {
  width: 6.33%;
}
.btn {
  background: #999 /* #999*/;
  border-radius: 6px;
  /* rounded corners */
  border: 0;
  color: #fff /*#fff*/;
  cursor: pointer;
  display: inline-block;
  /* Enables non-inline-block elements like <div>s to be buttons */
  margin: 2px 0 5px;
  padding: 12px 30px 14px;
}
.btn:hover {
  background: #888888 /*#888*/;
}
.btn:active,
.btn:focus {
  background: #777777 /*#777*/;
}
.btn-a {
  background: #0ae /*#0ae*/;
}
.btn-a:hover {
  background: #0092cd /*#09d*/;
}
.btn-a:active,
.btn-a:focus {
  background: #007aab /*#08b*/;
}
.btn-b {
  background: #3c5 /*#3c5*/;
}
.btn-b:hover {
  background: #2cb14a /*#2b4*/;
}
.btn-b:active,
.btn-b:focus {
  background: #26963f /*#2a4*/;
}
.btn-c {
  background: #d33 /*#d33*/;
}
.btn-c:hover {
  background: #cd2222 /*#c22*/;
}
.btn-c:active,
.btn-c:focus {
  background: #af1d1d /*#b22*/;
}
.btn-sm {
  border-radius: 4px;
  /* rounded corners */
  padding: 10px 14px 11px;
}
/* Grid system responsive code is in general.less */
.row {
  margin: 1% 0;
  overflow: auto;
  /* required - without this, the page layout is screwed up */
}
.col {
  float: left;
}
.table,
.c12 {
  width: 100%;
}
.c11 {
  width: 91.66%;
}
.c10 {
  width: 83.33%;
}
.c9 {
  width: 75%;
}
.c8 {
  width: 66.66%;
}
.c7 {
  width: 58.33%;
}
.c6 {
  width: 50%;
}
.c5 {
  width: 41.66%;
}
.c4 {
  width: 33.33%;
}
.c3 {
  width: 25%;
}
.c2 {
  width: 16.66%;
}
.c1 {
  width: 8.33%;
}
/* For smaller screens, change all columns to 100% width */
@media (max-width: 870px) {
  .row .col {
    width: 100%;
  }
}
/* Make the default heading style larger */
h1 {
  font-size: 3em;
}
.ico {
  font: 33px Arial Unicode MS, Lucida Sans Unicode;
  /*
		This combo of Unicode fonts means Min's icons support OSX 10.5+, Windows 98+, and Ubuntu.

		We don't use ems because 33px is a great size cross-browser and OS for nice icons
	*/
}
label > * {
  display: inline;
}
form > * {
  margin-bottom: 10px;
}
textarea,
input,
select {
  border: 1px solid #cccccc /*#ccc*/;
  padding: 8px;
}
textarea:focus,
input:focus,
select:focus {
  border-color: #0092cd /*#5ab*/;
}
textarea,
input[type=text],
input[type=password] {
  -webkit-appearance: none;
  /* make iOS inputs pretty */
  width: 13em;
  outline: 0;
}
/* For smaller screens, change width of form elements */
@media (max-width: 1047px) {
  textarea,
  input[type=text],
  input[type=password] {
    width: 10em;
  }
}
.addon {
  box-shadow: 0 0 0 1px #cccccc /*#ccc*/;
  padding: 8px 12px;
}
.nav,
.nav .current,
.nav a:hover {
  background: #000 /*#000*/;
  color: #fff /*#fff*/;
}
.nav {
  height: 24px;
  padding: 11px 0 15px;
  /* TODO: migrate to ems (currently we don't use them because of iOS compatibility problems (has to do with unicode icon for close)) */
  /* Uncomment for animations
	max-height: 1.5em;
	*/
}
.nav a {
  color: #aaaaaa /*#aaa*/;
  padding-right: 1em;
  position: relative;
  top: -1px;
}
.nav .pagename {
  font-size: 22px;
  top: 1px;
}
.btn.btn-close {
  background: #000 /*#000*/;
  float: right;
  font-size: 25px;
  margin: -54px 7px;
  display: none;
}
@media (max-width: 500px) {
  .btn.btn-close {
    display: block;
  }
  .nav {
    /* transition: max-height .5s ease-in-out, height .5s ease-in-out; */
    overflow: hidden;
  }
  .pagename {
    margin-top: -11px;
  }
  .nav:active,
  .nav:focus {
    height: auto;
    /* Necesary for animations
		max-height: 500px;
		height: 100%;
		*/
  }
  .nav div:before {
    background: #000 /*#000*/;
    border-bottom: 10px double;
    border-top: 3px solid;
    content: '';
    float: right;
    height: 4px;
    position: relative;
    right: 3px;
    top: 14px;
    width: 20px;
  }
  .nav a {
    display: block;
    padding: 0.5em 0;
    width: 50%;
  }
}
.table th,
.table td,
.tableStats th,
.tableStats td {
  padding: 0.5em;
  text-align: center;
}
.table tbody > :nth-child(2n-1) {
  /* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
  background: #dddddd /*#ddd*/;
  /* Shade every other table row */
}
.tableStats tbody > :nth-child(4n+1) {
  /* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
  background: #dddddd /*#ddd*/;
  /* Shade every other table row */
}
.tableStats tbody > :nth-child(4n+2) {
  /* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
  background: #dddddd /*#ddd*/;
  /* Shade every other table row */
}
.etatPartie {
  border: 1px solid #000;
  table-layout: fixed;
}
.etatPartie td {
  border: 1px solid #000;
  width: 19px;
  height: 19px;
  padding: 0em;
  text-align: center;
  background: #fff;
}
.msg {
  background: #d5f3ff /*#def*/;
  border-left: 5px solid #007aab /*#59d*/;
  padding: 1em /*1.5em*/;
}
.warning {
  background: #f7cccc /*#fdd*/;
  /*border-color: #e44; */
  border-left: 5px solid #d33 /*#e44*/;
  padding: 1em /*1.5em*/;
}
.great {
  background: #c2f0cc /*#dfd*/;
  /*border-color: #2d2;*/
  border-left: 5px solid #3c5 /*#2d2*/;
  padding: 1em /*1.5em*/;
}
message {
  display: block;
  background: #d5f3ff /*#def*/;
  border-left: 5px solid #007aab /*#44e*/;
  padding: 1em /*2em*/;
}
pre.bash {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  padding: 1rem;
  background: #000 /*black*/;
  display: flex;
  height: 100%;
  color: #54FE55 /*#54FE55*/;
  text-shadow: 0px 0px 10px;
  font-size: 1rem;
  flex-direction: column;
}
/* For the grid */
#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 18.75em;
  height: 18.75em;
  margin: auto;
  margin-bottom: 0.5em;
}
.case {
  border: 1px solid black;
  font-size: 3.75em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #777777, #fff);
  text-align: center;
  height: 1.35em;
  line-height: 1.65em;
  width: 1.35em;
}
.cross {
  cursor: url(../img/cross.png), pointer;
}
.circle {
  cursor: url(../img/circle.png), pointer;
}
.theend {
  cursor: url(../img/theEnd.png), pointer;
}
.wait {
  cursor: url(../img/wait.png), pointer;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(153, 153, 153, 0.8);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
}
.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.closeButton {
  float: right;
  width: 1rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  background-color: #eeeeee;
}
.closeButton:hover {
  background-color: #cccccc;
}
.showModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
}
