.btn {
  background: #999 /* #999*/;
  border-radius: 6px;
  /* rounded corners */
  border: 0;
  color: #fff /*#fff*/;
  cursor: pointer;
  display: inline-block;
  /* Enables non-inline-block elements like <div>s to be buttons */
  margin: 2px 0 5px;
  padding: 12px 30px 14px;
}
.btn:hover {
  background: #888888 /*#888*/;
}
.btn:active,
.btn:focus {
  background: #777777 /*#777*/;
}
.btn-a {
  background: #0ae /*#0ae*/;
}
.btn-a:hover {
  background: #0092cd /*#09d*/;
}
.btn-a:active,
.btn-a:focus {
  background: #007aab /*#08b*/;
}
.btn-b {
  background: #3c5 /*#3c5*/;
}
.btn-b:hover {
  background: #2cb14a /*#2b4*/;
}
.btn-b:active,
.btn-b:focus {
  background: #26963f /*#2a4*/;
}
.btn-c {
  background: #d33 /*#d33*/;
}
.btn-c:hover {
  background: #cd2222 /*#c22*/;
}
.btn-c:active,
.btn-c:focus {
  background: #af1d1d /*#b22*/;
}
.btn-sm {
  border-radius: 4px;
  /* rounded corners */
  padding: 10px 14px 11px;
}
