/* fancy page heading styles */
.headings *:not(first-of-type) {
  display: inline;
}
h1.doch1:not(.exampleh1) {
  margin: 0.2em 0;
  border-bottom: 5px solid;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.doccol {
  text-align: center;
  margin: 0 1%;
  float: left;
}
.docrow {
  line-height: 2em;
  margin: 1% 0;
  overflow: auto;
}
/* formatting for grid system */
.dark {
  background-color: #777777 /*rgb(172, 172, 172)*/;
}
.light {
  background-color: #999 /*rgb(223, 223, 223)*/;
}
.docc12 {
  width: 98%;
}
.docc11 {
  width: 89.66%;
}
.docc10 {
  width: 81.33%;
}
.docc9 {
  width: 73%;
}
.docc8 {
  width: 64.66%;
}
.docc7 {
  width: 56.33%;
}
.docc6 {
  width: 48%;
}
.docc5 {
  width: 39.66%;
}
.docc4 {
  width: 31.33%;
}
.docc3 {
  width: 23%;
}
.docc2 {
  width: 14.66%;
}
.docc1 {
  width: 6.33%;
}
