label > * {
  display: inline;
}
form > * {
  margin-bottom: 10px;
}
textarea,
input,
select {
  border: 1px solid #cccccc /*#ccc*/;
  padding: 8px;
}
textarea:focus,
input:focus,
select:focus {
  border-color: #0092cd /*#5ab*/;
}
textarea,
input[type=text],
input[type=password] {
  -webkit-appearance: none;
  /* make iOS inputs pretty */
  width: 13em;
  outline: 0;
}
/* For smaller screens, change width of form elements */
@media (max-width: 1047px) {
  textarea,
  input[type=text],
  input[type=password] {
    width: 10em;
  }
}
.addon {
  box-shadow: 0 0 0 1px #cccccc /*#ccc*/;
  padding: 8px 12px;
}
