body,
textarea,
input,
select {
  background: 0;
  border-radius: 0;
  font: 16px sans-serif;
  margin: 0;
}
.addon,
.btn-sm,
.nav,
textarea,
input,
select {
  outline: 0;
  font-size: 14px;
}
.smooth {
  transition: all 0.2s;
}
.btn,
.nav a {
  text-decoration: none;
}
.container {
  margin: 0 20px;
  width: auto;
}
.btnDoc {
  cursor: pointer;
}
.docImg {
  max-width: 100%;
  border: 2px solid black;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
@media (min-width: 1310px) {
  .container {
    margin: auto;
    width: 1270px;
  }
}
footer {
  margin: 0 20px;
  width: auto;
  text-align: center;
  font: 12px sans-serif;
  color: #fff;
  border-top: 3px solid;
  border-color: #000;
  padding: 1px;
  border-radius: 10px;
  margin-top: 1em;
  background-color: #777777;
}
@media (min-width: 1310px) {
  footer {
    margin: auto;
    width: 1270px;
  }
}
h2 {
  font-size: 2em;
}
.marges {
  padding: 5px;
}
.imgTabParties {
  width: 2em;
  height: auto;
}
.imgAvatarNav {
  width: 2em;
  height: auto;
  vertical-align: bottom;
}
