.msg {
  background: #d5f3ff /*#def*/;
  border-left: 5px solid #007aab /*#59d*/;
  padding: 1em /*1.5em*/;
}
.warning {
  background: #f7cccc /*#fdd*/;
  /*border-color: #e44; */
  border-left: 5px solid #d33 /*#e44*/;
  padding: 1em /*1.5em*/;
}
.great {
  background: #c2f0cc /*#dfd*/;
  /*border-color: #2d2;*/
  border-left: 5px solid #3c5 /*#2d2*/;
  padding: 1em /*1.5em*/;
}
message {
  display: block;
  background: #d5f3ff /*#def*/;
  border-left: 5px solid #007aab /*#44e*/;
  padding: 1em /*2em*/;
}
pre.bash {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  padding: 1rem;
  background: #000 /*black*/;
  display: flex;
  height: 100%;
  color: #54FE55 /*#54FE55*/;
  text-shadow: 0px 0px 10px;
  font-size: 1rem;
  flex-direction: column;
}
