.nav,
.nav .current,
.nav a:hover {
  background: #000 /*#000*/;
  color: #fff /*#fff*/;
}
.nav {
  height: 24px;
  padding: 11px 0 15px;
  /* TODO: migrate to ems (currently we don't use them because of iOS compatibility problems (has to do with unicode icon for close)) */
  /* Uncomment for animations
	max-height: 1.5em;
	*/
}
.nav a {
  color: #aaaaaa /*#aaa*/;
  padding-right: 1em;
  position: relative;
  top: -1px;
}
.nav .pagename {
  font-size: 22px;
  top: 1px;
}
.btn.btn-close {
  background: #000 /*#000*/;
  float: right;
  font-size: 25px;
  margin: -54px 7px;
  display: none;
}
@media (max-width: 500px) {
  .btn.btn-close {
    display: block;
  }
  .nav {
    /* transition: max-height .5s ease-in-out, height .5s ease-in-out; */
    overflow: hidden;
  }
  .pagename {
    margin-top: -11px;
  }
  .nav:active,
  .nav:focus {
    height: auto;
    /* Necesary for animations
		max-height: 500px;
		height: 100%;
		*/
  }
  .nav div:before {
    background: #000 /*#000*/;
    border-bottom: 10px double;
    border-top: 3px solid;
    content: '';
    float: right;
    height: 4px;
    position: relative;
    right: 3px;
    top: 14px;
    width: 20px;
  }
  .nav a {
    display: block;
    padding: 0.5em 0;
    width: 50%;
  }
}
