.table th,
.table td,
.tableStats th,
.tableStats td {
  padding: 0.5em;
  text-align: center;
}
.table tbody > :nth-child(2n-1) {
  /* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
  background: #dddddd /*#ddd*/;
  /* Shade every other table row */
}
.tableStats tbody > :nth-child(4n+1) {
  /* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
  background: #dddddd /*#ddd*/;
  /* Shade every other table row */
}
.tableStats tbody > :nth-child(4n+2) {
  /* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
  background: #dddddd /*#ddd*/;
  /* Shade every other table row */
}
.etatPartie {
  border: 1px solid #000;
  table-layout: fixed;
}
.etatPartie td {
  border: 1px solid #000;
  width: 19px;
  height: 19px;
  padding: 0em;
  text-align: center;
  background: #fff;
}
