/* For the grid */
#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 18.75em;
  height: 18.75em;
  margin: auto;
  margin-bottom: 0.5em;
}
.case {
  border: 1px solid black;
  font-size: 3.75em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #777777, #fff);
  text-align: center;
  height: 1.35em;
  line-height: 1.65em;
  width: 1.35em;
}
.cross {
  cursor: url(../img/cross.png), pointer;
}
.circle {
  cursor: url(../img/circle.png), pointer;
}
.theend {
  cursor: url(../img/theEnd.png), pointer;
}
.wait {
  cursor: url(../img/wait.png), pointer;
}
