// Import colors 
@import "./colors.less";

.btn {
	background: @mygray/* #999*/;
	border-radius: 6px; /* rounded corners */
	border: 0;
	color: @mywhite/*#fff*/;
	cursor: pointer;
	display: inline-block; /* Enables non-inline-block elements like <div>s to be buttons */
	margin: 2px 0 5px;
	padding: 12px 30px 14px;
}

.btn:hover {
	background: @mydarkgray/*#888*/;
}

.btn:active,.btn:focus {
	background: @mymoredarkgray/*#777*/;
}

.btn-a {
	background: @myblue/*#0ae*/;
	&:hover {
		background: @mydarkblue/*#09d*/; 
	}

	&:active, &:focus {
		background: @mymoredarkblue/*#08b*/;
	}
}

.btn-b {
	background: @mygreen/*#3c5*/;
	&:hover {
		background: @mydarkgreen/*#2b4*/; 
	}
	&:active, &:focus {
		background: @mymoredarkgreen/*#2a4*/;
	}
}

.btn-c {
	background: @myred/*#d33*/;
	&:hover {
		background: @mydarkred/*#c22*/;
	}
	&:active, &:focus {
		background: @mymoredarkred/*#b22*/;
	}
}

.btn-sm {
	border-radius: 4px; /* rounded corners */
	padding: 10px 14px 11px;
}