// Import colors 
@import "./colors.less";

.c4.card {   
    padding: 10px;
    box-sizing: border-box;    
    width: 32%;
    background: @mymorelightgray/*#eee*/;    
    border-radius: 10px;
    margin-top: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.c4.card h3 {
    margin-top: 0;
    border-bottom: 0.2em solid;
}

.c4.card a {
    margin-top: 10px;
    display: inline-block;
}