// colors definitions
// Change here to change throughout the css
// Don't forget to compile again to make it effective

// White
@mywhite: #fff;

// Black
@myblack: #000;

// Grays
@mygray: #999;
@mydarkgray: darken(@mygray, 6.5%);
@mymoredarkgray: darken(@mygray, 13.2%);
@mylightgray: lighten(@mygray,20%);
@mymorelightgray: lighten(@mygray,33.5%);
@mynavgray: lighten(@mygray,6.5%);
@mytabrowgray: lighten(@mygray,26.5%);
@myfadegray: fade(@mygray, 80%);

// Blues
@myblue: #0ae;
@mydarkblue: darken(@myblue, 6.5%);
@mymoredarkblue: darken(@myblue, 13.2%);
@mylightblue: lighten(@myblue,35%);
@mymorelightblue: lighten(@myblue,45%);

// Greens
@mygreen: #3c5;
@mydarkgreen: darken(@mygreen, 6.5%);
@mymoredarkgreen: darken(@mygreen, 13.2%);
@mylightgreen: lighten(@mygreen,35%);
@mymorelightgreen: lighten(@mygreen,45%);
@myconsolegreen: #54FE55;

// Reds
@myred: #d33;
@mydarkred: darken(@myred, 6.5%);
@mymoredarkred: darken(@myred, 13.2%);
@mylightred: lighten(@myred,35%);
@mymorelightred: lighten(@myred,45%);
