// Import colors 
@import "./colors.less";

.msg {
	background: @mymorelightblue/*#def*/;
	border-left: 5px solid @mymoredarkblue/*#59d*/;
	padding: 1em/*1.5em*/;
}

.warning {
	background: @mylightred/*#fdd*/;
	/*border-color: #e44; */
	border-left: 5px solid @myred/*#e44*/;	
	padding: 1em/*1.5em*/;
}

.great {
	background: @mylightgreen/*#dfd*/;
	/*border-color: #2d2;*/
	border-left: 5px solid @mygreen/*#2d2*/;	
	padding: 1em/*1.5em*/;
}

message {
	display: block;	
	background: @mymorelightblue/*#def*/;
	border-left: 5px solid @mymoredarkblue/*#44e*/;
	padding: 1em/*2em*/;
}



pre.bash {
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	padding: 1rem;
	background: @myblack/*black*/;
	display: flex;
	height: 100%;
	// justify-content: center; 
	// align-items: center;
	color: @myconsolegreen/*#54FE55*/;
	text-shadow: 0px 0px 10px;
	font-size: 1rem;
	flex-direction: column;
}
