// Import colors 
@import "./colors.less";

.table th, .table td, .tableStats th, .tableStats td {
	padding: .5em;
	// text-align: left;
	text-align: center;
}

.table tbody>:nth-child(2n-1) {
	/* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
	background: @mytabrowgray/*#ddd*/; /* Shade every other table row */
}

.tableStats tbody>:nth-child(4n+1) {
	/* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
	background: @mytabrowgray/*#ddd*/; /* Shade every other table row */
}

.tableStats tbody>:nth-child(4n+2) {
	/* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
	background: @mytabrowgray/*#ddd*/; /* Shade every other table row */
}

.etatPartie {
	border: 1px solid @myblack;
	table-layout: fixed;
}

.etatPartie td {
	border: 1px solid @myblack;
	width: 19px;
	height: 19px;
	padding: 0em; // To override the inheritance of the previous class
	text-align: center; // idem
	background: @mywhite; //idem	
}
